<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="mb-auto">
        <div>
            <h3 class="float-md-start">
                Angular Micro-frontends Shell
            </h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link"
                   routerLink="/"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">
                    Home
                </a>
                <a *ngIf="(auth$ | async)?.authenticated"
                   class="nav-link"
                   routerLink="/counter"
                   routerLinkActive="active">
                    Counter MFE
                </a>
                <a *ngIf="!(auth$ | async)?.authenticated"
                   class="nav-link"
                   routerLink="/login"
                   routerLinkActive="active">
                    Login
                </a>
            </nav>
        </div>
    </header>

    <main class="px-3">

        <router-outlet></router-outlet>

    </main>

    <footer class="mt-auto text-white-50">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>
